{% if children['#retrict_content']|raw %}
  {{ children['#retrict_content']|raw }}
{% else %}
  <center>
    <h3>Please <a href="/user/login">login</a> to access this page.</h3>
  </center>
{% endif %}
